<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IK.Properties.Settings>
            <setting name="errorCount" serializeAs="String">
                <value />
            </setting>
            <setting name="connStr" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pRef" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="who" serializeAs="String">
                <value />
            </setting>
        </IK.Properties.Settings>
    </userSettings>
</configuration>